/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	padding-top: 50px;
}

.loadingGif {
	width: 40px;
}

.remove {
	color:#ad1d28;
}

.logo {
	height: 50px;
}

.titletext {
	font-family: 'Cabin', sans-serif;
}
.darker {
	color: #331100;
}
.done-true {
  text-decoration: line-through;
}